{% extends "layout.njk" %}
{% set activePage = '404' %}
{% block pageTitle %} Yoku Sushi | Not Found {% endblock %}

{% block content %}
	<div class='error'>
		<h1>Oops !</h1>
		<div>It seems the page you are looking for does not exist! Please try navigating to another page!</div>
	</div>
{% endblock %}


