{% extends "layout.njk" %}
{% set activePage = 'menu' %}
{% block pageTitle %} Yoku Sushi | Menu {% endblock %}

{% block content %}
	<div class='menu'>
		<div class='menu__notice'>
			<strong>Takeaway</strong> is available for all menu items with the exception of the <i>Dolsot Bibimbap</i>.
		</div>

		<div class='menu__nav'>
			<button id='ala-carte' class='active'>À la carte</button>
			<button id='lunch'>Special Lunch Bento</button>
		</div>

		<div class='ala-carte'>
			{% include '_ala-carte-menu.njk' %}
		</div>

		<div class='lunch' style='display:none;'>
			{% include '_lunch-menu.njk' %}
		</div>
	</div>

	<script>
		$('#ala-carte').click(function(){
			$('.ala-carte').show();
			$('.lunch').hide();
			$('#ala-carte').addClass('active');
			$('#lunch').removeClass('active');
		});
		$('#lunch').click(function(){
			$('.ala-carte').hide();
			$('.lunch').show();
			$('#ala-carte').removeClass('active');
			$('#lunch').addClass('active');
		});
	</script>
{% endblock %}
