{% extends "layout.njk" %}
{% set activePage = 'menu' %}
{% block pageTitle %} Yoku Sushi | Menu {% endblock %}

{% block content %}
	<div class='menu'>
		<div class='menu__nav'>
			<button id='dine-in' class='active'>Dine-in Menu</button>
			<button id='takeaway'>Takeaway Menu</button>
		</div>

		<div class='dine-in'>
			<p>Last orders half an hour before closing time.</p>

			{% include '_dine-in-menu.njk' %}
		</div>

		<div class='takeaway' style='display:none;'>
			<p>We deliver within a 5-mile radius. Minimum £20 spend.</p>

			{% include '_takeaway-menu.njk' %}
		</div>
	</div>

	<script>
		$('#dine-in').click(function(){
			$('.dine-in').show();
			$('.takeaway').hide();
			$('#dine-in').addClass('active');
			$('#takeaway').removeClass('active');
		});
		$('#takeaway').click(function(){
			$('.dine-in').hide();
			$('.takeaway').show();
			$('#dine-in').removeClass('active');
			$('#takeaway').addClass('active');
		});
	</script>
{% endblock %}
