.menu {
	&__nav {
		text-align: center;
		& button {
			font-size: 1rem;
			color: $text;
			padding: 10px;
			margin: 0 10px;
			border-radius: 10px;
			background-color: $primary;
			border: solid 2px $text;

			&:hover {
				color: $highlight;
				border-color: $highlight;
			}

			&.active {
				background-color: $highlight;
				color: $text-light;
				border-color: $highlight;
			}
		}
	}

	&__category {
		color: $bright;
		font-size: 2rem;
		border-bottom: solid 2px $bright;
		padding: 5px;
		margin-top: 20px;
		margin-bottom: 15px;
	}

	&__item {
		padding: 0 20px;
		line-height: 1.5rem;
		padding-bottom: 10px;

		&__name {
			transition: 0.4s all;
			border-bottom: solid 1px $text-dark;

			&.hoverable:hover {
				cursor: pointer;
				color: $text-white;
				opacity: 1;
			}
		}

		&__description {
			font-style: italic;
			color: $text-dark;
		}

		&__price {
			float: right;
			margin-top: -1.5rem;
		}

		&__image {
			position:absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;

			width: 400px;
			background-color: $dark;
			-webkit-animation: fadeIn 0.5s;
			animation: fadeIn 0.5s;

			& svg {
				margin: 5px;
				float: right;
				width: 30px;
				fill: $text-light;

				&:hover {
					cursor: pointer;
				}
			}

			& img {
				width: 400px;
			}
		}
	}
}
