<footer class="footer">
	<div class="left">
		<div>{{phoneNumber}}</div>
		<div>{{email}}</div>
		<div>{{address1}}, {{address2}}, {{postcode}}</div>
	</div>
	<div class="right">
		<div class="social-media">
			<a href={{twitterLink}} target="_blank">
				{% include "svg/011-twitter-logo-on-black-background.svg" %}
			</a>
			<a href={{facebookLink}} target="_blank">
				{% include "svg/014-facebook-logo.svg" %}
			</a>
		</div>
		<a href="http://www.flaticon.com/packs/material-design">Icons by Google from flaticon.com</a>
	</div>
</footer>