<header class="header">
	<a href={{twitterLink}} target="_blank" class="icon-label">
		{% include "svg/011-twitter-logo-on-black-background.svg" %}
		Twitter
	</a>
	<a href={{facebookLink}} target="_blank" class="icon-label">
		{% include "svg/014-facebook-logo.svg" %}
		Facebook
	</a>
</header>