<nav class="nav">
	<a class="{% if activePage == 'index' %}active{% endif %}" href="/">HOME</a>
	<a class="{% if activePage == 'about' %}active{% endif %}" href='/about'>ABOUT</a>
	<a class="{% if activePage == 'menu' %}active{% endif %}" href='/menu'>MENU</a>
	<a class="{% if activePage == 'gallery' %}active{% endif %}" href='/gallery'>GALLERY</a>
	<a class="{% if activePage == 'contact' %}active{% endif %}" href='/contact'>CONTACT</a>
</nav>
