{% set menu = [{
	category: 'APPETISERS',
	items: [{
		name: 'Miso Soup (v)',
		price: '£2.60',
		description: "Traditional Japanese dashi stock soup with tofu, wakame and spring onions",
		image: './images/01_miso_soup.JPG'
	},{
		name: 'Edamame (v)',
		price: '£3.50',
		description: "Lightly salted boiled soybeans. Perfectly complements beers & wines",
		image: './images/02_edamame.JPG'
	},{
		name: 'Chuka Wakame Salad',
		price: '£4.50',
		description: "Fresh crunchy seaweed salad with sesame dressing",
		image: './images/03_wakame_salad.JPG'
	},{
		name: 'Tori Gyoza',
		price: '£4.60',
		description: "Traditional fried chicken dumpling served with soy & vinegar sauce",
		image: './images/04_tori_gyoza.JPG'
	},{
		name: 'Yasai Gyoza (4)',
		price: '£4.50',
		description: "Fried vegetable dumpling served with soy & vinegar sauce"
	},{
		name: 'Chicken Yakitori (3)',
		price: '£5.40',
		description: "Char-grilled chicken skewers marinated in yakitori sauce",
		image: './images/06_chicken_yakitori.JPG'
	},{
		name: 'Agedashi Tofu (3)',
		price: '£4.50',
		description: "Crispy deep-fried tofu blocks in savory dashi sweet soy sauce",
		image: './images/07_agedashi_tofu.JPG'
	},{
		name: 'Pumpkin Croquette',
		price: '£4.50',
		description: "Crispy deep-fried mashed pumpkin coated with breadcrumbs & served with mayo & fruity sauce",
		image: './images/08_pumpkin_croquette.JPG'
	},{
		name: 'Chicken Kara-age',
		price: '£5.60',
		description: "Marinated chicken fried to perfection! Crispy & tender, served with homemade mayonnaise",
		image: './images/09_chicken_karaage.JPG'
	},{
		name: 'Seven Spice Calamari',
		price: '£6.10',
		description: "Deep-fried squid mixed with fresh chilli, garlic and sprinkled with seven spice powder. Served with our homemade wasabi mayo sauce",
		image: './images/10_spicy_calamari.JPG'
	},{
		name: 'Prawn Katsu',
		price: '£5.60',
		description: "Crispy deep-fried king prawn coated with grated breadcrumbs. Served with mayonnaise & fruity sauce"
	},{
		name: 'Takoyaki',
		price: '£5.20',
		description: "Deep-fried battered octopus, garnished with bonito flakes, seaweed powder & strips. Served with fruity mayo sauce",
		image: './images/12_takoyaki.JPG'
	}]
}, {
	category: 'TEMPURA FAVOURITES',
	description: 'Japanese style of deep-frying that uses very light batter to produce a light, crisp crust. All served with a dashi based tempura dipping sauce.',
	items: [{
		name: 'Soft Shell Crab Tempura',
		price: '£8.80',
		description: "Lightly battered fried soft shell crab",
		image: './images/13_softshell_crab_tempura.JPG'
	},{
		name: 'Ebi Tempura',
		price: '£6.80',
		description: "Lightly battered fried king prawn",
		image: './images/14_ebi_tempura.JPG'
	},{
		name: 'Yasai Tempura (v)',
		price: '£5.30',
		description: "Selection of seasonal vegetables deep-fried in a light batter",
		image: './images/15_yasai_tempura.JPG'
	},{
		name: 'Oyster Tempura',
		price: '£7.00',
		description: "Lightly battered fried oysters",
		image: './images/16_oyster_tempura.JPG'
	},{
		name: 'Tempura Moriawase',
		price: '£8.60',
		description: "Selection of king prawns, oysters and vegetables tempura"
	}]
}, {
	category: 'SALADS',
	description: 'Popular with modern Japanese dining, a selection of the most popular salads',
	items: [{
		name: 'Kari Pari Tofy Salad (v)',
		price: '£4.80',
		description: "Mixed green leaves, cucumber, carrot, tomato, Wakame & fried Tofu block served with japanese Shoyu-based dressing with a hint of Wasabi & Yuzu flavour"
	},{
		name: 'Avocado Salad (v)',
		price: '£5.20',
		description: "Mixed green leaves, avocado, cucumber, carrot, tomato & Wakame served with sesame dressing"
	},{
		name: 'Crispy Chicken Salad',
		price: '£6.60',
		description: "Mixed green leaves, katsu chicken, cucumber, carrot & tomato served with sesame dressing"
	},{
		name: 'Crispy Soft Shell Crab Salad',
		price: '£8.90',
		description: "Deep-fried soft shell crab with green leaves, cucumber, carrot & tomato served with japanese shoyu-based dressing with a hint of wasabi & yuzu flavour"
	},{
		name: 'Sashimi Salad',
		price: '£7.60',
		description: "Assorted Sashimi on a bed of mixed seasonal vegetables"
	}]
}, {
	category: 'NIGIRI (2 PCS)',
	description: 'A type of sushi consisting of a small ball of rice with the following selection of toppings',
	items: [{
		name: 'Sake',
		price: '£3.60',
		description: "Salmon"
	},{
		name: 'Maguro',
		price: '£4.30',
		description: "Tuna"
	},{
		name: 'Suzuki',
		price: '£4.00',
		description: "Seabass"
	},{
		name: 'Tako',
		price: '£3.40',
		description: "Octopus"
	},{
		name: 'Ebi',
		price: '£3.60',
		description: "Cooked prawn"
	},{
		name: 'Amaebi',
		price: '£3.80',
		description: "Raw sweet prawn"
	},{
		name: 'Unagi',
		price: '£4.50',
		description: "Grilled eel & sauce"
	},{
		name: 'Tamago',
		price: '£3.40',
		description: "Egg"
	},{
		name: 'Inari Pocket (v)',
		price: '£3.20',
		description: "Tofu pocket"
	},{
		name: 'Tobiko Gunkan',
		price: '£4.20',
		description: "Flying fish roe"
	},{
		name: 'Kaiso Gunkan (v)',
		price: '£3.50',
		description: "Wakame seaweed"
	},{
		name: 'Cooked Salmon',
		price: '£3.70'
	},{
		name: 'Cooked Tuna with Sweetcorn Gunkan',
		price: '£4.50'
	}]
}, {
	category: 'HOSOMAKI (6 PCS)',
	description: 'Small round seaweed rolls of rice with a selection of fillings',
	items: [{
		name: 'Salmon',
		price: '£3.80'
	},{
		name: 'Spicy Salmon',
		price: '£4.00'
	},{
		name: 'Tuna',
		price: '£4.00'
	},{
		name: 'Spicy Tuna',
		price: '£4.20'
	},{
		name: 'Cucumber (v)',
		price: '£3.20'
	},{
		name: 'Yellow Pickles (v)',
		price: '£3.20',
		description: "Oshinko"
	},{
		name: 'Avocado (v)',
		price: '£3.20'
	},{
		name: 'Crabstick',
		price: '£3.40'
	}]
}, {
	category: 'SASHIMI',
	description: 'Thin slices of raw fish / seafood',
	items: [{
		name: 'Sake (3 pcs)',
		price: '£3.60',
		description: "Salmon"
	},{
		name: 'Sake (6 pcs)',
		price: '£7.00',
		description: "Salmon"
	},{
		name: 'Maguro (3 pcs)',
		price: '£4.20',
		description: "Tuna"
	},{
		name: 'Maguro (6 pcs)',
		price: '£8.00',
		description: "Tuna"
	},{
		name: 'Tako (3 pcs)',
		price: '£3.60',
		description: "Octopus"
	},{
		name: 'Tako (6 pcs)',
		price: '£7.00',
		description: "Octopus"
	},{
		name: 'Amaebi (3 pcs)',
		price: '£3.50',
		description: "Raw sweet prawn"
	},{
		name: 'Amaebi (6 pcs)',
		price: '£6.80',
		description: "Raw sweet prawn"
	},{
		name: 'Suzuki (3 pcs)',
		price: '£4.00',
		description: "Seabass"
	},{
		name: 'Suzuki (6 pcs)',
		price: '£7.80',
		description: "Seabass"
	}]
}, {
	category: 'MIXED SUSHI AND SASHIMI SHARING PLATTERS',
	description: "Chef's selection of Nigiri, Sashimi and Hosomaki",
	items: [{
		name: 'Sashimi Deluxe',
		price: '£17.90',
		description: "Selection of Sashimi (Salmon x 3, Tuna x 3, Octopus x 3, Seabass x 3, Raw Sweet Prawn x 3)"
	},{
		name: 'Family Set',
		price: '£24.40',
		description: "Selection of Nigiri (Salmon x 2, Tuna x 2, Seabass x 2, Ebi x 2, Tamago x 2) and Hosomaki (Salmon x 6, Cucumber x 6)"
	},{
		name: 'Sharing Feast',
		price: '£22.40',
		description: "Selection of Nigiri (Salmon x 4, Cooked Tuna x 2, Unagi x 2) and Hosomaki (Spicy Salmon x 6, Crabstick x 6)"
	},{
		name: 'Salmon Mono',
		price: '£14.00',
		description: "Selection of Nigiri x 4, Hosomaki x 6, Sashimi x 3"
	},{
		name: 'Vegetarian Platter (v)',
		price: '£9.50',
		description: "Selection of Nigiri (Kaiso Gunkan x 2, Inari Pocket x 2) and Hosomaki (Avocado x 6)"
	}]
}, {
	category: 'URAMAKI (8 PCS)',
	description: "A type of inside-out sushi: outside layer of rice with seaweed inside and selection of fillings with tasty sauce",
	items: [{
		name: 'Salmon & Avocado',
		price: '£8.20',
		description: "Salmon, avocado garnished with sesame seeds"
	},{
		name: 'Spicy Salmon & Cucumber',
		price: '£8.00',
		description: "Salmon, cucumber, & furikake with spicy mayonnaise"
	},{
		name: 'Tuna & Avocado',
		price: '£8.80',
		description: "Tuna, avocado garnished with sesame seeds"
	},{
		name: 'Spicy Tuna & Cucumber',
		price: '£8.60',
		description: "Tuna, cucumber, & furikake with spicy mayonnaise"
	},{
		name: 'California Roll',
		price: '£7.90',
		description: "Tamago (egg), avocado, crabstick, cucumber & mayonnaise garnished with sesame seeds"
	},{
		name: 'Chicken Katsu Roll',
		price: '£8.50',
		description: "Chicken katsu, avocado & lettuce dressed in mayonnaise sauce"
	},{
		name: 'Spider Roll (h)',
		price: '£11.90',
		description: "Deep-fried soft shell crab, avocado, letuce, yellow pickle with spicy mayonnaise and garnished with tobiko (fish roe)"
	},{
		name: 'Rising Sun Roll (h)',
		price: '£10.60',
		description: "Crabstick, cucumber, avocado & prawn katsu with spicy mayonnaise & garnished with tobiko (fish roe)"
	},{
		name: 'Vegan Roll (v)',
		price: '£7.50',
		description: "Avocado, cucumber, sweet tofu skin & lettuce"
	}]
}, {
	category: 'CHEF SIGNATURE URAMAKI ROLLS',
	items: [{
		name: 'Dragon Roll',
		price: '£11.00',
		description: "Avocado, cucumber, tamago & mayonnaise wrapped with grilled eel, avocado & dressed with eel sauce"
	},{
		name: 'Rainbow Roll',
		price: '£11.00',
		description: "Avocado, crabstick, cucumber & mayonnaise wrapped with salmon & tuna sashimi, cooked prawn & avocado"
	},{
		name: 'Green Dragon Roll',
		price: '£9.90',
		description: "Prawn katsu & cucumber wrapped with avocado, dressed with Tobiko (fish roe) & mayonnaise"
	},{
		name: 'Yummy Ebi Roll',
		price: '£10.50',
		description: "Crabstick, cucumber, avocado & cooked prawn served with chef's mayo sauce"
	},{
		name: 'Yoku King Roll',
		price: '£12.80',
		description: "Cucumber, avocado, salmon, grilled eel served with wasabi mayonnaise sauce & topped with tobiko (fish roe)"
	},{
		name: 'Tokyo Roll',
		price: '£11.30',
		description: "Cucumber, avocado, tamago & chicken katsu served with chef's spicy mayo sauce, garnished with furikake seasoning"
	}]
}, {
	category: 'TEMAKI',
	description: "Cone shaped hand rolls stuffed with rice & with a choice of fillings",
	items: [{
		name: 'Salmon & Avocado',
		price: '£3.80',
		description: "with mayo sauce"
	},{
		name: 'Tuna & Avocado',
		price: '£4.00',
		description: "with mayo sauce"
	},{
		name: 'Spicy Salmon & Cucumber',
		price: '£3.80',
		description: "with spicy mayo sauce"
	},{
		name: 'Spicy Tuna & Cucumber',
		price: '£4.00',
		description: "with spicy mayo sauce"
	},{
		name: 'Prawn Katsu & Avocado',
		price: '£4.00',
		description: "with mayo sauce"
	},{
		name: 'Chicken Katsu & Avocado',
		price: '£3.80',
		description: "with mayo sauce"
	},{
		name: 'Grilled Eel & Cucumber',
		price: '£4.20',
		description: "with avocado and eel sauce"
	},{
		name: 'California Temaki',
		price: '£4.20',
		description: "Cooked prawn, avocado, cucumber, Tamago & Tobiko with mayo sauce"
	},{
		name: 'Vegetarian Temaki',
		price: '£3.60',
		description: "Yellow pickle, Tamago, cucumber, avocado & lettuce with mayo sauce"
	}]
}, {
	category: 'RICE & NOODLES SPECIALS',
	items: [{
		name: 'Steamed Rice',
		price: '£2.50'
	},{
		name: 'Egg Fried Rice',
		price: '£2.00'
	},{
		name: 'Salmon Chahan',
		price: '£5.00',
		description: "fried rice",
		image: './images/80_salmon_chahan.JPG'
	}]
}, {
	category: 'STIR FRIED NOODLES',
	items: [{
		name: 'Yaki Soba - Chicken',
		price: '£8.50',
		description: "Stir fried japanese thin noodles with mixed vegetables, topped with red ginger pickle & bonito flakes",
		image: './images/81a_chicken_yakisoba.JPG'
	},{
		name: 'Yaki Soba - Sliced Beef',
		price: '£8.80',
		description: "Stir fried japanese thin noodles with mixed vegetables, topped with red ginger pickle & bonito flakes"
	},{
		name: 'Yaki Soba - King Prawn',
		price: '£9.00',
		description: "Stir fried japanese thin noodles with mixed vegetables, topped with red ginger pickle & bonito flakes"
	},{
		name: 'Yaki Soba - Mixed Vegetables (v)',
		price: '£7.80',
		description: "Stir fried japanese thin noodles with mixed vegetables, topped with red ginger pickle & bonito flakes"
	},{
		name: 'Yaki Udon - Chicken',
		price: '£8.50',
		description: "Stir fried japanese thick white noodles (wheat-flour based) with mixed vegetables, topped with red ginger pickle & bonito flakes"
	},{
		name: 'Yaki Udon - Sliced Beef',
		price: '£8.80',
		description: "Stir fried japanese thick white noodles (wheat-flour based) with mixed vegetables, topped with red ginger pickle & bonito flakes"
	},{
		name: 'Yaki Udon - King Prawn',
		price: '£9.00',
		description: "Stir fried japanese thick white noodles (wheat-flour based) with mixed vegetables, topped with red ginger pickle & bonito flakes"
	},{
		name: 'Yaki Udon - Mixed Vegetables (v)',
		price: '£7.80',
		description: "Stir fried japanese thick white noodles (wheat-flour based) with mixed vegetables, topped with red ginger pickle & bonito flakes"
	}]
}, {
	category: 'SOUP NOODLES',
	items: [{
		name: 'Grilled Chicken Ramen',
		price: '£8.50',
		description: "Ramen noodles in a shoyu-based soya soup topped with grilled chicken slices, boiled egg, wakame, sweet corn, beansprouts & spring onion",
		image: './images/83_grilled_chicken_ramen.JPG'
	},{
		name: 'Grilled Pork Ramen',
		price: '£8.90',
		description: "Ramen noodles in a tonkotsu soup topped with grilled pork, boiled egg, wakame, menma, sweet corn, beansprouts & spring onion"
	},{
		name: 'Spicy Kimchi Seafood Udon',
		price: '£9.80',
		description: "Thick noodles in a spicy kimchi broth with mixed seafood (King prawn, salmon, squid) & vegetables"
	},{
		name: 'Grilled Beef Ramen',
		price: '£9.40',
		description: "Ramen noodles in a tonkotsu soup topped with grilled beef, boiled egg, wakame, menma, sweet corn, beansprouts & spring onion"
	}]
}, {
	category: 'JAPANESE CURRY (H)',
	description: "The most popular japanese curry dishes. All served with salad & steamed rice",
	items: [{
		name: 'Chicken Katsu Curry',
		price: '£8.50',
		description: "Deep fried chicken in panko breadcrumbs"
	},{
		name: 'Ebi Katsu Curry (King Prawn)',
		price: '£9.00',
		description: "Deep fried king prawn in panko breadcrumbs"
	},{
		name: 'Pumpkin Katsu Curry (v)',
		price: '£7.80',
		description: "Deep fried pumpkin in panko breadcrumbs"
	}]
}, {
	category: 'DONBURI',
	description: "Traditional rice bown dishes filled with steamed rice, topped iwth the following choice",
	items: [{
		name: 'Unagi Don',
		price: '£12.00',
		description: "Grilled eel served with salad, pickled ginger & chef special eel sauce"
	},{
		name: 'Beef Gyudon',
		price: '£8.50',
		description: "Thin cut beef & onion, cooked with sweet soy sauce & poached egg"
	},{
		name: 'Chicken Katsu Don',
		price: '£8.50',
		description: "Deep fried chicken katsu cooked with egg, onion & sweet soy sauce",
		image: './images/92_chicken_katsu_don.JPG'
	}]
}, {
	category: 'TERIYAKI',
	items: [{
		name: 'Chicken Teriyaki Don',
		price: '£8.50',
		description: "Marinated chicken cooked with teriyaki sauce, garnished with sesame seeds"
	},{
		name: 'Salmon Teriyaki Don',
		price: '£9.50',
		description: "Grilled salmon in teriyaki sauce"
	},{
		name: 'Grilled Beef Teriyaki Don',
		price: '£9.00',
		description: "Grilled beef in teriyaki sauce"
	}]
}, {
	category: 'KOREAN FAVOURITES',
	items: [{
		name: 'Bulgogi - Sliced Beef',
		price: '£9.50',
		description: "Korean BBQ. Delicious marinated meats in a blend of ginger & Korean dark soy sauce & garlic. Served with Lettuce wraps & ssamjang chilli paste"
	},{
		name: 'Bulgogi - Spicy Pork',
		price: '£8.70',
		description: "Korean BBQ. Delicious marinated meats in a blend of ginger & Korean dark soy sauce & garlic. Served with Lettuce wraps & ssamjang chilli paste"
	},{
		name: 'Bulgogi - Spicy Chicken',
		price: '£8.70',
		description: "Korean BBQ. Delicious marinated meats in a blend of ginger & Korean dark soy sauce & garlic. Served with Lettuce wraps & ssamjang chilli paste",
		image: './images/96c_spicy_chicken_bulgogi.JPG'
	},{
		name: 'Dolsot Bibimbap - Sliced Beef',
		price: '£9.50',
		description: "Marinated meats served in a sizzling pot consisting of a hearty mixture of rice, mixed vegetables & egg served with Gochujan (Red Chilli Paste)"
	},{
		name: 'Bulgogi - Spicy Pork',
		price: '£8.90',
		description: "Marinated meats served in a sizzling pot consisting of a hearty mixture of rice, mixed vegetables & egg served with Gochujan (Red Chilli Paste)"
	},{
		name: 'Bulgogi - Spicy Chicken',
		price: '£8.90',
		description: "Marinated meats served in a sizzling pot consisting of a hearty mixture of rice, mixed vegetables & egg served with Gochujan (Red Chilli Paste)"
	},{
		name: 'Bulgogi - Grilled Eel',
		price: '£10.40',
		description: "Marinated eel served in a sizzling pot consisting of a hearty mixture of rice, mixed vegetables & egg served with Gochujan (Red Chilli Paste)"
	}]
}] %}

{% include 'menu-list.njk' %}
