{% set menu = [{
	category: 'STARTERS',
	items: [{
		name: 'Salmon Sashimi',
		price: '£4.50',
		description: "Freshly cut salmon",
		image: "images/logo.png"
	},{
		name: 'Tuna Sashimi',
		price: '£5.50',
		description: "Freshly cut tuna"
	}]
},{
	category: 'DRINKS',
	items: [{
		name: 'Calpis',
		price: '£2.50',
		description: "Yoghurt drink"
	},{
		name: 'Cola',
		price: '£2.50',
		description: ""
	}]
}] %}

{% include 'menu-list.njk' %}
