{% set menu = [{
	category: 'SPECIAL LUNCH-TIME ONLY BENTO BOXES',
	description: "All served with miso soup, chicken gyoza, salad & pickles",
	items: [{
		name: 'Chicken Katsu Curry',
		price: '£8.90',
		description: "Chicken Katsu in curry sauce & rice"
	},{
		name: 'Ebi Katsu Curry',
		price: '£8.90',
		description: "King Prawn Katsu in curry sauce & rice"
	},{
		name: 'Chicken Katsu',
		price: '£8.90',
		description: "Chicken Katsu & rice"
	},{
		name: 'Prawn Katsu',
		price: '£8.90',
		description: "Prawn Katsu & rice"
	},{
		name: 'Teriyaki Chicken',
		price: '£8.90',
		description: "Teriyaki Chicken & rice"
	},{
		name: 'Teriyaki Salmon',
		price: '£8.90',
		description: "Teriyaki Salmon & rice"
	},{
		name: 'Teriyaki Beef',
		price: '£8.90',
		description: "Teriyaki Beef & rice"
	},{
		name: 'Nigiri Set',
		price: '£8.90',
		description: "Salmon x 2, Tamago x 2, Inari Pocket x 2"
	},{
		name: 'Sushi Set',
		price: '£8.90',
		description: "Salmon Hosomaki x 6 & California Roll x 4"
	},{
		name: 'Vegetarian',
		price: '£8.90',
		description: "Cucumber Hosomaki x 6, Agedashi Tofu & Vegetable Gyoza"
	}]
}] %}

{% include 'menu-list.njk' %}
