{% set menu = [{
	category: 'STARTERS',
	items: [{
		name: 'Small Udon',
		price: '£4.50',
		description: "Japanese Noodles"
	},{
		name: 'Whatever',
		price: '£5.50',
		description: "Can't think"
	}]
},{
	category: 'DRINKS',
	items: [{
		name: 'Calpis',
		price: '£2.50',
		description: "Yoghurt drink"
	}]
}] %}

{% for category in menu %}
	<div class='menu__category'>{{ category.category }}</div>	

	{% for item in category.items %}
		<div class='menu__item'>
			<div class='menu__item__name'>{{ item.name }}</div>
			<div class='menu__item__price'>{{ item.price }}</div>
			<div class='menu__item__description'>{{ item.description }}</div>
		</div>
	{% endfor %}
{% endfor %}
