{% set menu = [{
	category: 'STARTERS',
	items: [{
		name: 'Small Udon',
		price: '£4.50',
		description: "Japanese Noodles"
	},{
		name: 'Whatever',
		price: '£5.50',
		description: "Can't think"
	},{
		name: 'Small Udon',
		price: '£4.50',
		description: "Japanese Noodles"
	},{
		name: 'Whatever',
		price: '£5.50',
		description: "Can't think",
		image: "images/logo.png"
	},{
		name: 'Small Udon',
		price: '£4.50',
		description: "Japanese Noodles"
	},{
		name: 'Whatever',
		price: '£5.50',
		description: "Can't think"
	}]
},{
	category: 'DRINKS',
	items: [{
		name: 'Calpis',
		price: '£2.50',
		description: "Yoghurt drink"
	}]
}] %}

{% include 'menu-list.njk' %}
