.footer {
  line-height: 1rem;
  background-color: color(var(--colorDark));
}

.right {
	padding: 0 10px;
	float: right;
	text-align: right;
}

.phenomicReference {
  font-size: 0.6rem;
  opacity: 0.6;
  color: inherit;
}

a {
  display: block;
  text-decoration: none;

  &:hover {
  	text-decoration: underline;
  }
}
